.visit-form-div{
  //background-color: lightgrey;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  padding: 2%;
}

.text-input{
  border: 1px solid dodgerblue ;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
}

.radio-group{
  border: 1px solid dodgerblue ;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
}

.date-label{
  background-color: white;
  width: 90%;
  margin-left: 5%;
  font-size: 20px;
  border: 1px solid dodgerblue ;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 5px;
}

.time-item{
  width: 90%;
  margin-left: 5%;
  border: 1px solid dodgerblue ;
}

.submit-button{
  width: 90%;
  margin-left: 5%;
  font-size: 20px;
  border: 1px solid dodgerblue ;
  border-radius: 5px;
  background-color: dodgerblue;
}
